input {
    display: block;
}

p input {
    display: inline-block;
}

#result,
#result2 {
    padding: 10px;
    border: 2px solid rgb(154, 154, 154);
    border-radius: 2px;
    font-size: 20px;
}